<div data-bind="with: chooseProduct">
    @Html.Partial("_ChooseProduct")
</div>

<div data-bind="with: placeOrder">
    @Html.Partial("_PlaceOrder")
</div>

<script type="text/javascript">
    $(function () {
        initializeApplication();
    });
</script>

