<!DOCTYPE html>
<html manifest="~/CacheManifest">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Fourth Coffee</title>
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/Lib/jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="~/Scripts/Lib/knockout-2.1.0.js" type="text/javascript"></script>
        <script src="~/Scripts/Lib/sammy.min.js" type="text/javascript"></script>
        <script src="~/Scripts/Lib/amplify.min.js" type="text/javascript"></script>
        <script src="~/Scripts/App/Models/models.js" type="text/javascript"></script>
        <script src="~/Scripts/App/Data/connection.js" type="text/javascript"></script>
        <script src="~/Scripts/App/Data/ordersdatasource.js" type="text/javascript"></script>
        <script src="~/Scripts/App/Data/productsdatasource.js" type="text/javascript"></script>
        <script src="~/Scripts/App/ViewModels/chooseproductviewmodel.js" type="text/javascript"></script>
        <script src="~/Scripts/App/ViewModels/confirmationviewmodel.js" type="text/javascript"></script>
        <script src="~/Scripts/App/ViewModels/placeorderviewmodel.js" type="text/javascript"></script>
        <script src="~/Scripts/App/ViewModels/deliveryviewmodel.js" type="text/javascript"></script>
        <script src="~/Scripts/App/ViewModels/pendingorderviewmodel.js" type="text/javascript"></script>
        <script src="~/Scripts/application.js" type="text/javascript"></script>
    </head>
    
    <body>
        <div id="page">
            <div id="header">
                <p class="site-title">
                    <a href="~/">Fourth Coffee</a></p>
                <ul id="menu">
                    <li><a href="~/">Home</a></li>
                    <li><a href="~/About">About Us</a></li>
                </ul>
            </div>
            <div id="body">
                @RenderBody()
            </div>
            <div id="footer">
                &copy;@DateTime.Now.Year - Fourth Coffee
            </div>
        </div>
    </body>
</html>
